/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2016, 1:38:13 AM
    Author     : Rania
*/

body {
font-family: Arial, Verdana, sans-serif;
}

h1, h2 {
color: #336699;}
p {
color: #665544;}
